#Assets
Content/AnimStarterPack/
Content/ODSMannequin/
Content/ParagonLtBelica/
Content/ParagonRevenant/
Content/ParagonTwinblast/
Content/ParagonWraith/
Content/ParagonDrongo/
Content/ParagonGadget/
Content/MCO_Mocap_Basics/
Source/Motionbuilder/
Source/FBX/
Source/Maya/
Source/SKMannequin_A_Pose/
Source/SKMannequin_T_Pose/
Content/FPS_Weapon_Bundle/
Content/_Game/Assets/Sounds/Ambient/
Content/_Game/Assets/Sounds/AR15_Shots/
Content/_Game/Assets/Sounds/Footsteps/
Content/_Game/Assets/Sounds/Impacts/
Content/_Game/Assets/Sounds/PickupSounds/
Content/_Game/Assets/Sounds/Pistol/
Content/_Game/Assets/Sounds/Rifle/
Content/_Game/Assets/Sounds/WeaponSwings/
Content/InfinityBladeWeapons/
Content/ThirdPersonBP/
Content/ThirdPerson/
Content/FirstPersonBP/
Content/FirstPerson/
Content/TrueFPS_Assets/
Content/LPGenericPropsSet04/
Content/LPGenericPropsSet10/
Content/ARCADE_Ultimate_Vehicles_Pack/
Content/A_Surface_Footstep/
Content/ActorCore_Sample_Motions/
Content/BlackAlder/
Content/Cave/
Content/CloudscapeSeasons/
Content/CyberHucker/
Content/DetectiveStart/
Content/GJM_Assets/
Content/HorrorDiningRoom/
Content/IndustrialArea/
Content/MOUT_Arabian/
Content/MOUT_Civilian/
Content/MSPresets/
Content/Man/
Content/ModularLostRuinKit/
Content/ROG_Modular_Armor/
Content/Scanned3DPeoplePack/
Content/StarterContent/
Content/TMSportPack/
Content/VHExterior/
Content/Vegetation/
Content/WinterForest/



# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# These project files can be generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
Binaries/*
Plugins/*/Binaries/*

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Configuration files generated by the Editor
Saved/*

# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*

*/Intermediate/*

.vs/
Binaries/
Saved/
Intermediate/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/Characters/Mannequin_UE4/
Content/Characters/Mannequin/
Content/Characters/Mannequins/
Content/LevelPrototyping/
Content/SideScrollerCPP/
Content/Mannequin/
Content/Geometry/